In [12]:
import pandas as pd

In [13]:
df = pd.read_csv("StudentHabitsandAcademicPerformanceDataset.csv")
df.head()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,Male,Computer Science,7.645367,3.0,0.1,Yes,70.3,6.2,...,10.9,Co-Learning Group,Yes,High,9,7,8,Reading,3.0,100
1,100001,28,Male,Arts,5.700000,0.5,0.4,No,88.4,7.2,...,8.3,Co-Learning Group,Yes,Low,7,2,10,Reading,6.0,99
2,100002,17,Male,Arts,2.400000,4.2,0.7,No,82.1,9.2,...,8.0,Library,Yes,High,3,9,6,Kinesthetic,7.6,98
3,100003,27,Other,Psychology,3.400000,4.6,2.3,Yes,79.3,4.2,...,11.7,Co-Learning Group,Yes,Low,5,3,10,Reading,3.2,100
4,100004,25,Female,Business,4.700000,0.8,2.7,Yes,62.9,6.5,...,9.4,Quiet Room,Yes,Medium,9,1,10,Reading,7.1,98

In [14]:
df.isin(['', ' ', 'N/A', 'NA', 'null', 'None', 'Unknown']).sum()

student_id                       0
age                              0
gender                           0
major                            0
study_hours_per_day              0
social_media_hours               0
netflix_hours                    0
part_time_job                    0
attendance_percentage            0
sleep_hours                      0
diet_quality                     0
exercise_frequency               0
parental_education_level         0
internet_quality                 0
mental_health_rating             0
extracurricular_participation    0
previous_gpa                     0
semester                         0
stress_level                     0
dropout_risk                     0
social_activity                  0
screen_time                      0
study_environment                0
access_to_tutoring               0
family_income_range              0
parental_support_level           0
motivation_level                 0
exam_anxiety_score               0
learning_style                   0
time_management_score            0
exam_score                       0
dtype: int64

In [15]:
cat_cols = df.select_dtypes(include='object').columns
df[cat_cols] = df[cat_cols].apply(lambda x: x.str.strip().str.lower())
df.head()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,male,computer science,7.645367,3.0,0.1,yes,70.3,6.2,...,10.9,co-learning group,yes,high,9,7,8,reading,3.0,100
1,100001,28,male,arts,5.700000,0.5,0.4,no,88.4,7.2,...,8.3,co-learning group,yes,low,7,2,10,reading,6.0,99
2,100002,17,male,arts,2.400000,4.2,0.7,no,82.1,9.2,...,8.0,library,yes,high,3,9,6,kinesthetic,7.6,98
3,100003,27,other,psychology,3.400000,4.6,2.3,yes,79.3,4.2,...,11.7,co-learning group,yes,low,5,3,10,reading,3.2,100
4,100004,25,female,business,4.700000,0.8,2.7,yes,62.9,6.5,...,9.4,quiet room,yes,medium,9,1,10,reading,7.1,98

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80000 entries, 0 to 79999
Data columns (total 31 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   student_id                     80000 non-null  int64
 1   age                            80000 non-null  int64
 2   gender                         80000 non-null  object
 3   major                          80000 non-null  object
 4   study_hours_per_day            80000 non-null  float64
 5   social_media_hours             80000 non-null  float64
 6   netflix_hours                  80000 non-null  float64
 7   part_time_job                  80000 non-null  object
 8   attendance_percentage          80000 non-null  float64
 9   sleep_hours                    80000 non-null  float64
 10  diet_quality                   80000 non-null  object
 11  exercise_frequency             80000 non-null  int64
 12  parental_education_level       80000 non-null  object
 13  internet_quality               80000 non-null  object
 14  mental_health_rating           80000 non-null  float64
 15  extracurricular_participation  80000 non-null  object
 16  previous_gpa                   80000 non-null  float64
 17  semester                       80000 non-null  int64
 18  stress_level                   80000 non-null  float64
 19  dropout_risk                   80000 non-null  object
 20  social_activity                80000 non-null  int64
 21  screen_time                    80000 non-null  float64
 22  study_environment              80000 non-null  object
 23  access_to_tutoring             80000 non-null  object
 24  family_income_range            80000 non-null  object
 25  parental_support_level         80000 non-null  int64
 26  motivation_level               80000 non-null  int64
 27  exam_anxiety_score             80000 non-null  int64
 28  learning_style                 80000 non-null  object
 29  time_management_score          80000 non-null  float64
 30  exam_score                     80000 non-null  int64
dtypes: float64(10), int64(9), object(12)
memory usage: 18.9+ MB

In [17]:
binary_map_cols = [
    'part_time_job',
    'access_to_tutoring',
    'dropout_risk',
    'extracurricular_participation'
]
for col in binary_map_cols:
    df[col] = df[col].map({'yes': 1, 'no': 0})

In [18]:
ordinal_mappings = {
    'diet_quality': {'poor': 0, 'fair': 1, 'good': 2},
    'internet_quality': {'low': 0, 'medium': 1, 'high': 2},
    'family_income_range': {'low': 0, 'medium': 1, 'high': 2}
}
for col, mapping in ordinal_mappings.items():
    df[col] = df[col].map(mapping)

In [19]:
df.head()

,student_id,age,gender,major,study_hours_per_day,social_media_hours,netflix_hours,part_time_job,attendance_percentage,sleep_hours,...,screen_time,study_environment,access_to_tutoring,family_income_range,parental_support_level,motivation_level,exam_anxiety_score,learning_style,time_management_score,exam_score
0,100000,26,male,computer science,7.645367,3.0,0.1,1,70.3,6.2,...,10.9,co-learning group,1,2,9,7,8,reading,3.0,100
1,100001,28,male,arts,5.700000,0.5,0.4,0,88.4,7.2,...,8.3,co-learning group,1,0,7,2,10,reading,6.0,99
2,100002,17,male,arts,2.400000,4.2,0.7,0,82.1,9.2,...,8.0,library,1,2,3,9,6,kinesthetic,7.6,98
3,100003,27,other,psychology,3.400000,4.6,2.3,1,79.3,4.2,...,11.7,co-learning group,1,0,5,3,10,reading,3.2,100
4,100004,25,female,business,4.700000,0.8,2.7,1,62.9,6.5,...,9.4,quiet room,1,1,9,1,10,reading,7.1,98

In [20]:
float_cols = df.select_dtypes(include=['float']).columns

df[float_cols] = df[float_cols].round(1)

In [21]:
nominal_columns = [
    'gender',
    'major',
    'parental_education_level',
    'study_environment',
    'learning_style'
]
df = pd.get_dummies(df, columns=nominal_columns, drop_first=True, dtype=int)

In [22]:
df.to_csv("Student_Habits_Cleaned.csv", index=False)